.container {
    padding: 5px;
}

fieldset {
    border: 2px solid #ececec;
    border-radius: 8px 8px 0 0;
    padding: 1em;
    width: 60%;
    margin: auto;
}
.col-auto{
    margin: auto;
}
.login {
    width: 50%;
}
.inline-errormsg {
    color: red;
    font-size: 12px;
}
.hidden {
    display: none;
}

.controls .btn {
    min-width: 70px;
    max-width: 80px;
}
.btn-left {
    margin-right: 7%;
    margin-left: 42px;
}
.btn-up-down {
    margin-left:120px;
}
.myfilter {
    position:absolute;
    background-color:#000000;
    opacity:0.3;
    width:322px;
    height:182px;
}
.myrestartbutton {
    position:absolute;
    padding-top:75px;
    padding-left:120px;
}